<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/dashboard/css/app.css}">
    <link rel="stylesheet" th:href="@{/dashboard/vendor/feather-icons-web/feather.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/dashboard/css/style.css}">
    <link rel="stylesheet" th:href="@{/dashboard/css/myStyle.css}">
</head>
<body>
    <section class="container-fluid">
        <div class="row">
            <!-- sidebar start -->
            
           <div th:replace="~{fragments :: html_sidebar}" ></div>
          
            <!-- sidebar end -->
            <div class="col-12  col-lg-9  col-xl-10 vh-100 content ">
                <!-- header start -->
               <div th:replace="~{fragments :: html_header}"></div>
                <!-- header end -->
                <!-- content start -->
                <div class="row">
                    
                     <!-- Modal -->
<div class="modal fade mt-5" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="mdi mdi-file-document-box menu-icon text-primary"></i>Announcement Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Announcement Text</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Date</label>
              <input type="date" class="form-control" id="exampleFormControlInput1" >
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 2-->
  <!-- Modal -->
<div class="modal fade mt-5" id="profileSetupModal" tabindex="-1" role="dialog" aria-labelledby="profileSetupModalLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="feather-user text-primary"></i>Profile Setup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                 <div class="col-5">
                     <div class="mb-3"><img
       src="img/user/avatar1.jpg"
       class="img-thumbnail"
       style="width:150px;"
     /></div>
                 <label for="formFileMultiple" class="form-label">Profile Upload</label>
     <input class="form-control" type="file" id="formFileMultiple" multiple />
                </div>
                <div class="col-7">
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Employee ID</label>
     <input class="form-control" type="text" id="formFileMultiple" />
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Name</label>
     <input class="form-control" type="text" id="formFileMultiple" />
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Email</label>
     <input class="form-control" type="email" id="formFileMultiple" />
                 </div>
     
                </div>
                </div>
                 </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
                </div>
               
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                              <div class="d-flex justify-content-between align-items-center">
                                               <h4 class="mb-0">
                                                   <i class="feather-codepen text-primary"></i>
                                                   Employee Data List
                                               </h4> 
                                               <button class="btn btn-outline-primary btn-sm full-page-btn"><i class="feather-maximize-2 h4"></i></button>  
                                              </div> 
                                              <hr> 
                                             <div class="col-lg-6 pt-5 mb-5">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Register Us</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i> DAT <i class="fa fa-utensils text-primary me-2"></i></h1>
                        <form>
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="exampleFormControlInput1" class="form-label">Employee Id</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter employee ID">
                                  </div>
                                  <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Email Noti</label>
                                      </div>
                                    </div>
                            </div>
                              <div class="mb-3">
                                <div id="calendar"></div>

                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Chicken</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Pot</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                                <label class="form-check-label" for="inlineCheckbox3">Beaf</label>
                              </div>
                              
                                <p>If you want to avoid some meat.</p><p>You can choose by clicking the button down below.</p> 
                                <div class="float-center mt-3">
                                <button class="btn btn-primary" id="submit">Avoid Meat</button>
                             </div>
                             <div class="float-end mt-4">
                                <button class="btn btn-primary" id="submit">Register</button>
                             </div>
                        </form>
                        
                       
                    </div>
                                              
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                       
                    </div>
                  
            </div>
        </div>
    </section>


<div th:replace="~{fragments :: html_script}"/></div>
</script>
  

    <!-- Template Javascript -->
    <script th:src="@{/userRole/js/main.js}"></script>
   
    <script>

   
    document.addEventListener('DOMContentLoaded', function () {
  console.log("calendar");

  // $.ajax({
  //   type: "GET",
  //   url: "/api/register/holidays",
  //   contentType: "application/json",

    // success: function (result) {
      const calendarEl = document.getElementById('calendar');


      const calendar = new FullCalendar.Calendar(calendarEl, {
        selectable: true,

        eventClick: function (info) {
          //console.log(info)
          info.event.remove()
        },
        select: function (selectionInfo) {
          //console.log(selectionInfo)
          const start = moment(selectionInfo.start)
          //console.log(start)
          const end = moment(selectionInfo.end)
          //console.log(end)
          const dayOfWeek = start.day()
          // $.ajax({
          //   type: "GET",
          //   url: "/api/register",
          //   contentType: "application/json",

          //   success: function (result) {
              if (end.diff(start, 'days') == 1 && dayOfWeek !== 6 && dayOfWeek !== 0 && !result.find(i => i.date === selectionInfo.startStr)) {
                const events = calendar.getEvents();
                // console.log(events);
                const exitEvent = events.find(e => e.startStr === selectionInfo.startStr)
                //console.log(exitEvent)
                if (exitEvent) {
                  exitEvent.remove()
                } else {
                  calendar.addEvent({
                    ...selectionInfo,
                    title: "စားမယ်",
                    color: 'blue',
                    textColor: 'black'
                  })
                }
              }
            // }
          // });


        },



        buttonText: {
          today: 'Today',
          month: 'Month',
          week: 'Week',
          day: 'Day',
          list: 'List'
        },

        dayCellDidMount: ({ el, date }) => {

          const newDate = moment(date)
          //console.log(newDate);
          const dayOfWeek = newDate.day()
          //console.log(newDate.format('YYYY-MM-DD'))


          const holiday = result.find(i => i.date === newDate.format('YYYY-MM-DD'))
          if (holiday) {
            el.style.backgroundColor = 'red'
            el.style.position = 'relative'
            const span = document.createElement('span')
            span.style.position = "absolute";
            span.style.top = '50%'
            span.style.left = '50%'
            span.style.transform = 'translate(-50%,-50%)'
            span.append(`${holiday.name}`)
            el.appendChild(span)

          }


          if (dayOfWeek === 6 || dayOfWeek === 0) {
            el.style.backgroundColor = 'gray'
          }



        }
      });
      calendar.render();
      const button = document.getElementById('submit')
      button.addEventListener('click', () => {
        //console.log(calendar.getEvents().map(i => i.startStr))
        var eventData = calendar.getEvents().map(i => i.startStr);
        //console.log(eventData);
        $.ajax({
          type: "POST",
          url: "/api/doRegister",
          contentType: "json",
          data: JSON.stringify({ date: '2022-03-01' }),
          success: function (result) {
          }
        });
      });
      console.log(moment().format('MMMM Do YYYY, h:mm:ss a'))

    }
  // });


)

  </script>

 

</body>
</html>